:root {
  --duration: 500ms;
  --margin: -300px;
}

.animate {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: var(--duration);
}

.focus {
  animation-name: move;
}

.not-focus {
  animation-name: move-back;
}

.hide {
  animation-name: shrink;
  pointer-events: none;
  cursor: default;
}

.show {
  animation-name: expand;
}

@keyframes move {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: var(--margin);
  }
}

@keyframes move-back {
  0% {
    margin-left: var(--margin);
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes shrink {
  0% {
    opacity: 100%;
    filter: grayscale(0);
  }

  100% {
    opacity: 30%;
    filter: grayscale(1);
  }
}

@keyframes expand {
  0% {
    opacity: 30%;
    filter: grayscale(1);
  }

  100% {
    opacity: 100%;
    filter: grayscale(0);
  }
}
