:root {
  --duration: 500ms;
  --margin: -300px;
}

.animate {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: var(--duration);
}

.focus {
  animation-name: move;
}

.not-focus {
  animation-name: move-back;
}

@keyframes move {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: var(--margin);
  }
}

@keyframes move-back {
  0% {
    margin-left: var(--margin);
  }
  100% {
    margin-left: 0px;
  }
}
